<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.alfa11.devedu.treinos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Treinos">
        <activity
            android:name=".views.CadastroTreinoActivity"
            android:exported="true" />
        <activity
            android:name=".views.autenticacao.CadastroUsuarioActivity"
            android:exported="true" />
        <activity
            android:name=".views.CadastroExercicioActivity"
            android:exported="true" />
        <activity
            android:name=".views.ExerciciosActivity"
            android:exported="true" />
        <activity
            android:name=".views.MainAcitivity"
            android:exported="true" />
        <activity
            android:name=".views.autenticacao.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Treinos.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>